@font-face {
font-family: 'CocktailShaker'; /* IE9 Compat Modes */
src: url('/assets/CocktailShaker.ttf.gz')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
font-family: 'HelveticaNeue'; /* IE9 Compat Modes */
src: url('/assets/HelveticaNeueL.ttf.gz')  format('truetype'); /* Safari, Android, iOS */
}
header {
    font-family: CocktailShaker;
    margin: 30px 0 30px 0;
    font-weight: 500;
    font-size: 4em !important;
    color:white;
    text-shadow: #FFF 0 0 10px;
    text-align: center;
    margin: 0;
}
