.box1 {
     float: left;
     max-height: 76vh;
     border: 1px solid white;
     margin:0 10px 0 -10px;
     background: -moz-linear-gradient(310deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* ff3.6+ */
     background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(197,198,212,0.8)), color-stop(38%, rgba(197,198,212,0.5)), color-stop(100%, rgba(128,0,0,0)));
    /* safari4+,chrome */
     background: -webkit-linear-gradient(310deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* safari5.1+,chrome10+ */
     background: -o-linear-gradient(310deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* opera 11.10+ */
     background: -ms-linear-gradient(310deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* ie10+ */
     background: linear-gradient(140deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* w3c */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C5C6D4', endColorstr='#800000',GradientType=0 );
    /* ie6-9 */
     -webkit-box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.13);
     -moz-box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.13);
     box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.13);
}
 .box2 {
     float: right;
     max-height: 76vh;
     margin:0 -10px 0 10px;
     border: 1px solid white;
     background: -moz-linear-gradient(310deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* ff3.6+ */
     background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(197,198,212,0.8)), color-stop(38%, rgba(197,198,212,0.5)), color-stop(100%, rgba(128,0,0,0)));
    /* safari4+,chrome */
     background: -webkit-linear-gradient(310deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* safari5.1+,chrome10+ */
     background: -o-linear-gradient(310deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* opera 11.10+ */
     background: -ms-linear-gradient(310deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* ie10+ */
     background: linear-gradient(140deg, rgba(197,198,212,0.8) 0%, rgba(197,198,212,0.5) 38%, rgba(128,0,0,0) 100%);
    /* w3c */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C5C6D4', endColorstr='#800000',GradientType=0 );
    /* ie6-9 */
     -webkit-box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.13);
     -moz-box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.13);
     box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.13);
}
