@import 'reset';
@import 'bootstrapgrid';
@import 'header';
@import 'searchbar';
@import 'clouds';
@import 'button';
@import 'retrievedData';
@import 'custom-bars';
@import 'component';
@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

  body {
    background: linear-gradient(202deg, #2f3238, #98a2b6);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 32s ease infinite;
    -moz-animation: AnimationName 32s ease infinite;
    -o-animation: AnimationName 32s ease infinite;
    animation: AnimationName 32s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
    height: 100vh;
  }

.container {
  color: white;
  text-align: center;
}
