@import 'reset';
@import 'bootstrap';
@import 'bootstrap-variables';
@import 'progressbar';
@import 'searchbar';
@import 'clouds';
@import 'button';
@import 'header';
@import 'retrievedData';

@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

.container-fluid{
  text-align: center;
  width: auto;
}

@media (min-width: 662px){
  #retrieved{
    margin:0 50px;
  }
}
@media (min-width: 1503px){
  .row{
    flex-wrap: nowrap;
  }
}
  body {
    background: linear-gradient(202deg, #2f3238, #98a2b6);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 32s ease infinite;
    -moz-animation: AnimationName 32s ease infinite;
    -o-animation: AnimationName 32s ease infinite;
    animation: AnimationName 32s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
  }
